*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    color: black;margin: auto;
    max-width: 1180px;
    text-align: justify;
    text-align: center;

}
